[submodule "godot-cpp"]
	path = godot-cpp
	url = https://github.com/GodotNativeTools/godot-cpp.git
[submodule "fmod-gdnative"]
	path = fmod-gdnative
	url = https://github.com/utopia-rise/fmod-gdnative.git
